*{margin:0; padding:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0;color:white; }
 body { background:#fff; color:#333; font-size:14px; font-family:'微软雅黑', '黑体', sans-serif; }
 td,th,caption { font-size:14px; }
 h1, h2, h3, h4, h5, h6 { font-weight:normal; }
 address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
 a {  text-decoration:none; }
 a:hover { text-decoration:none; }
 img { border:none; }
 ol,ul,li { list-style:none; }
 table { border-collapse:collapse; }
 html {overflow-y:auto;} 
 button{cursor:pointer;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
 .clearfix { *zoom:1; }

 .general-search-container
 {
 	width:100%;
 	background:rgb(65,90,144);
 	position:relative;
 }
 .blank{
 	width:100%;
 	height:1px;
 	overflow:hidden;
 }
 .search-title{
 	margin-top:150px;
 	width:100%;
 	color:white;
 }
 .search-title img{
 	display:block;
 	margin:0 auto;
 }
 .title-chinese{
 	cursor:pointer;
 }
 .search-title .title-chinese{
 	height:35px;
 	width:auto;
 	margin-bottom:15px;
 }
 .search-title .title-english{
 	height:18px;
 	width:auto;
 }
.general-search{
	width:646px;
	margin:50px auto;
}
.general-search-search{
	width:640px;
	height:60px;
	margin:0 auto;
	margin-bottom:20px;
	border:3px solid white;
	border-radius:32px;
}
.search-ul{
	display:block;
	width:140px;
	margin-top:2px;
	margin-left:2px;
	float:left;
	height:56px;
	background:white;
	border-top-left-radius:28px;
	border-bottom-left-radius:28px;
	overflow:hidden;
}
.search-ul li{
	cursor:pointer;
	position:relative;
}
.select-article{
	text-align:center;
}
.select-article div{
	margin:0 auto;
	height:100%;
	line-height:56px;
}
.select-article div img{
	display:inline-block;
	margin-bottom:2px;
	height:10px;
	width:auto;
}
.select-article div p{
	display:inline-block;
	font-size:20px;
	letter-spacing:1px;
	margin-right:5px;
	color:rgb(65,90,144);
}
.select-keyword,.select-writer{
	width:100%;
	height:30px;
	line-height:30px;
	font-size:16px;
	color:white;
	text-align:center;
}
.select-keyword{
	margin-top:25px;
}
.select-writer{
	margin-bottom:25px;
}
.general-search-search .search-ul-hover{
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	background:rgba(44,164,191,0.7);
	background: #2ca4bf\9;
	filter: alpha(opacity=70);
}


.search-ul-hover .select-article div p{
	font-size:18px;
	color:white;
}
.general-search-search input{
	display:block;
	background:rgb(65,90,144);
	width:410px;
	height:100%;
	padding-left:20px;
	float:left;
	border:none;
	outline:none;
	font-size:18px;
	line-height:60px;
	color:white;
}
.general-search-search>img{
	display:block;
	float:right;
	width:35px;
	height:auto;
	margin-top:10px;
	margin-right:23px;
	cursor:pointer;
}
.general-search>a{
	display:block;
	width:80px;
	height:30px;
	margin-right: 23px;
	line-height:30px;
	font-size:16px;
	float:right;
	text-align:right;
	cursor:pointer;
	color:white;
}
.general-search>a:hover{
	color:rgb(44,164,191);
}
.footer{
	font-size:12px;
	color:#999;
	width:400px;
	position:absolute;
	bottom:20px;
	display:none;
}
.footer-copyright{
	height:22px;
	width:100%;
	text-align:center;
	line-height:22px;
	color:#a1aebe;
}
.footer-aboutus{
	width:295px;
	margin:0 auto;
	height:25px;
	line-height:25px;
	text-align:center;
}
.footer-aboutus li{
	margin:0 5px;
	display:inline-block;
	color:#a1aebe;
}
.footer-aboutus div{
	width:1px;
	height:15px;
	margin-top:5px;
	float:left;
	background:#a1aebe;
}
.coopration-title{
	margin-right:10px;
}
.footer-aboutus .connect-us{
	margin:0 auto;
	cursor:pointer;
}
.connect-us a{
	width:100%;
	color:#a1aebe;
}


/* 高级搜索页 */
.advanced-search-container{
	width:100%;
 	background:rgb(65,90,144);
 	position:relative;
}
.advanced-search{
	width:871px;
	margin:45px auto;
}
.advanced-search-search>div{
	width:150px;
	height:34px;
	margin:0 10px;
	margin-bottom:15px;
	border:2px solid white;
	border-radius:19px;
	float:left;
	background:rgb(65,90,144);
}
.advanced-search-search .select-fourth{
	width:185px;
}
.advanced-search-search .select-level2{
	width:290px;
}
.advanced-search-search .select-time{
	width:359px;
}
.advanced-search-search ul{
	display:block;
	width:98.667%;
	margin-top:0.667%;
	margin-left:0.667%;
	height:94.286%;
	background:;
	border-radius:16px;
	overflow:hidden;
	cursor:pointer;
	background:rgb(65,90,144);
}
.advanced-search-search .second-title,
.advanced-search-search .select-time .first-title.
.advanced-search-search .select-time .second-title{
	border-bottom-left-radius:0px;
}
.advanced-search-search .search-ul-hover{
	background:rgb(44,164,191);
    position:relative;
    z-index:2;
}
.advanced-search-search .oppo-style{
	color:rgb(65,90,144);
	background:white;
}
.advanced-search-search .oppo-style p{
	color:rgb(65,90,144);
}
.select-second .first-title,.select-sixth .first-title{
	width:49.333%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	float:left;
	margin-top:0.467%;
}
.select-second .second-title,.select-sixth .second-title{
	width:49.333%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	float:left;
	margin-top:0.467%;
	display:none;
}
/* .select-time ul{
	height:160px;
	overflow:hidden;
} */
.select-time .select-time-label1{
	float:left;
	width:39%;
	margin-top:0.367%;
	margin-left:0.467%;
	height:94.286%;
	border-top-left-radius:16px;
	border-bottom-left-radius:16px;
	text-align:center;
	line-height:32px;
}
.select-time .select-time-label2{
	float:left;
	width:13.7%;
	height:35px;
	line-height:35px;
	text-align:center;
	border-right:2px solid white;
	border-left:2px solid white;
}
.select-time span{
	display:block;
	float:left;
	margin-left:2px;
	width:2px;
	height:100%;
	background:white;
}
.select-time>div{
	float:left;
	width:21.8%;
	height:100%;
	margin-top:0.367%;
}
.select-time .first-title{
	width:98%;
	margin:0 1%;
	border-radius:0px;
}
.select-time .second-title{
	float:left;
	width:22.5%;
	margin-top:0.367%;
	margin-left: 0.267%;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}
.select-title{
	height:32px;
	line-height:32px;
	text-align:center;
}
.select-title p{
	display:inline-block;
	margin-right:8px;
}
.select-title img{
	display:inline-block;
	width:8px;
	height:auto;
	margin-bottom:2px;
}
/* 以下是hover时出现的列表 */
.advanced-search-search .select-option{
	width:100%;
	height:32px;
	line-height:32px;
	text-align:center;
}
.select-option:hover{
	color:rgb(65,90,144);
}
.oppo-style .select-option{
	color:rgb(65,90,144);
}
.oppo-style .select-option:hover{
	color:rgb(44,164,191);
}

/* 以下是搜索的样式 */
.search-choice{
	width:100%;
	height:35px;
	margin-top:25px;
}
.search-choice button{
	width:145px;
	height:35px;
	border:2px solid white;
	border-radius:22px;
	outline:none;
	float:right;
	font-size:16px;
	line-height:31px;
	background:rgb(65,90,144);
}
.search-choice button:hover{
	background:rgb(44,164,191);
}
.search-choice a{
	display:block;
	float:right;
	height:35px;
	line-height:35px;
	color:white;
	margin-left:22px;
	margin-right:10px;
}
.search-choice a:hover{
	color:rgb(44,164,191);
}



/* 以下是搜索结果页 */
.search-result-container{
	width:100%;
}
.search-result-container .search-top{
	width:100%;
	background:rgb(65,90,144);
}
.search-result-container .search-title{
	margin-top:40px;
}
.search-result-container .title-chinese{
	height:25px;
	margin-bottom:7px;
}
.search-result-container .title-english{
	height:14px;
}
.search-result-container .advanced-search{
	width:991px;
	margin:30px auto;
	margin-bottom:0px;
}
.search-result-container .first-title,
.search-result-container .select-time-label1{
	margin-left:0.367%;
}
.search-result-container .search-button,
.search-result-container .advanced-button{
	display:block;
	width:100px;
	height:38px;
	margin:0 10px;
	float:left;
	border:2px solid white;
	border-radius:19px;
	outline:none;
	line-height: 38px;
	background:rgb(65,90,144);
}
.search-result-container .advanced-button,
.search-result-container .search-button:hover,
.search-result-container .advanced-button:hover{
	background:rgb(44,164,191);
}
.search-result-container .search-number{
	height:25px;
}
.search-result-container .search-number p{
	float:right;
	margin-right:10px;
	line-height:10px;
	height:25px;
}

/* 以下为文章的内容的样式 */
.search-result{
	width:100%;
	margin:0 auto;
}
.search-result .every-line{
	width:100%;
}
.search-result .every-line-in{
	width:860px;
	margin:0 auto;
	padding:50px 0;
}
.search-result .every-article{
	float:left;
	width:46.5%;
	margin:0 1.75%;
	position:relative;
}
.every-article h1{
	margin-bottom:18px;
	color:rgb(65,90,144);
	font-size:20px;
	height:20px;
	line-height:20px;
	font-weight:400;
	overflow:hidden;
	word-break:break-all;
}
.every-article>div{
	width:100%;
}
.every-article .article-author p,
.every-article .article-keyword p{
	width:56%;
	overflow:hidden;
	word-break:break-all;
}
.every-article h2{
	float:left;
	width:15%;
	line-height:26px;
	color:#333;
	font-size:16px;
	font-weight:400;
}
.every-article p{
	float:left;
	width:85%;
	line-height:26px;
	color:#333;
	overflow:hidden;
	word-break:break-all;
}
.every-article .article-summary p{
	line-height:18px;
	margin-top:6px;
	word-break:break-all;
	/*max-height:180px;*/
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
}
/* .every-article .article-summary p::after {
    content:"……";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 20px 1px 0px;
    background:white;
} */
.every-article a{
	display:block;
	position:absolute;
	top:42px;
	right:0px;
	border:2px solid rgb(65,90,144);
	border-radius:20px;
	width:85px;
	height:36px;
	line-height:36px;
	text-align:center;
	color:rgb(65,90,144);
	cursor:pointer;
}
.every-article a:hover{
	border:2px solid rgb(44,164,191);
	background:rgb(44,164,191);
	color:white;
}
/* 以下为翻页按钮的样式 */
.change-article-page{
	width:562px;
	margin:0 auto;
	text-align:center;
}
.change-article-page button{
	display:none;
	float:left;
	width:75px;
	height:30px;
	border:2px solid rgb(65,90,144);
	border-radius:17px;
	background:white;
	color:rgb(65,90,144);
	margin:20px 3px;
	cursor:pointer;
	line-height:28px;
	outline:none;
}
.change-article-page button:hover{
	border:2px solid rgb(44,164,191);
	background:rgb(44,164,191);
	color:white;
}
.page-number{
	float:left;
	width:400px;
	height:34px;
	margin:20px 0;
	overflow:hidden;
}
.page-number p{
	float:left;
	width:30px;
	height:30px;
	margin:0 3px;
	border:2px solid white;
	border-radius:17px;
	line-height:30px;
	text-align:center;
	cursor:pointer;
	color:rgb(65,90,144);
}
.page-number p:hover{
	background: rgb(44,164,191);
	border:2px solid rgb(44,164,191);
	color:rgb(65,90,144);
}
.page-number .now-page-number{
	border:2px solid rgb(65,90,144);
}

/* 以下为footer的样式 */
.search-result-container .footer{
	width:100%;
	background:rgb(65,90,144);
	bottom:0px;
	/* position:static; */
	padding:20px 0;
}
.mCSB_scrollTools {
    width: 16px;
}
.mCSB_inside>.mCSB_container {
    margin-right: 8px;
}
@media screen and (min-width:1600px)
{
	.search-title{
		margin-top:200px;
	}
	.search-title .title-chinese{
		height:50px;
		margin-bottom:20px;
	}
	.search-title .title-english{
		height:25px;
	}
	.general-search{
		margin:90px auto;
	}
	.general-search>p{
		font-size:18px;
	}
	.advanced-search-container .advanced-search{
		margin:64px auto;
	}
	.advanced-search-container .advanced-search-search>div{
		margin-bottom:20px;
	}
	.advanced-search-container .search-choice{
		margin-top:30px;
	}
	.search-result-container .search-title{
		margin-top:55px;
	}
	.search-result-container .title-chinese{
		height:35px;
		margin-bottom:15px;
	}
	.search-result-container .title-english{
		height:18px;
	}
	.search-result-container .search-number{
		height:40px;
	}
	.search-result-container .search-number p{
		line-height:25px;
		height:40px;
	}
	.search-result .every-line-in{
		width:1200px;
		padding:70px 0;
	}
	.every-article h1 {
	    margin-bottom:25px;
	    font-size: 22px;
	    height: 28px;
	    line-height:28px;
	}
	/* .every-article .article-author, .every-article .article-keyword {
	    	height:35px;
	} */
	.every-article h2 {
	    line-height: 35px;
	    font-size: 18px;
	}
	.every-article p {
    	line-height:35px;
    	font-size:16px;
	}
	.every-article .article-summary p {
	    line-height:20px;
	    /* max-height:200px; */
	    margin-top:9px;
	}
	.every-article a {
	    top: 61px;
	    border-radius: 25px;
	    width: 120px;
	    height: 50px;
	    line-height: 50px;
	    font-size:16px;
	}
}
@media screen and (max-width:1010px)
{
	.search-result-container{
		width:1010px;
	}
}
@media screen and (max-width:880px)
{
	.general-search-container{
		width:880px;
	}
	.advanced-search-container{
		width:880px;
	}
}